extends ../layout
block content
  .loading
    .pic
  .main
    .container
      .row
        .col-xs-4
          .text-center
            span.iconfont.icon-wode.col-xs-12
            span.col-xs-12.fontsize 我的
        .col-xs-4
          .text-center
            span.iconfont.icon-chengji.col-xs-12
            span.col-xs-12.fontsize 成绩
        .col-xs-4
          .text-center
            span.iconfont.icon-xuankebaoming.col-xs-12
            span.col-xs-12.fontsize 选课录入
      .row
        .col-xs-4
          .text-center
            span.iconfont.icon-kaoshi.col-xs-12
            span.col-xs-12.fontsize 考试
        .col-xs-4
          .text-center
            span.iconfont.icon-ht-class.col-xs-12
            span.col-xs-12.fontsize 课表
        .col-xs-4
          .text-center
            span.iconfont.icon-fankui.col-xs-12
            span.col-xs-12.fontsize 反馈
      .row
        .col-xs-4
          .text-center