		*,html
		{
			font-size: 62.5%;
			margin:0;
			padding: 0;
		}
		label{
			font-size: 1.5rem;
			text-indent: 3rem;
			line-height: 2rem;
		}
		#xiugai span {
			font-size: 1.5rem;
			line-height: 3rem;
		}
		#xiugai {
			display: none;
		}
		#zhanshi {
			display: block;
		}
/*login*/
	.inpu
	 {
	 	width: 100%;
	 	border: 0;
	 	height: 4.5rem;
	 	font-size: 1.8rem;
	 	text-indent: 2rem;
	 }
	 .inpu .btn
	 {
	 	display: block;
	 	background-color: #1EB9F2;
	 	width: 90%;
	 	color: white;
	 	text-align: center;
		height: 4.4rem;
		border-radius: 0.5rem;
		border: 0;
		font-size: 2rem;
		margin: 2rem auto;
	 }
	 .headimg
	 {
	 	width: 9rem;
	 	height: 11rem;
	 	margin: 0 auto;
	 	padding-top: 7rem !important;
	 }
	 .headimg > img
	 {
	 	width: 9rem;
	 	height: 9rem;
	 	border-radius: 9rem;
	 }
	 #signinUsername
	 {
	 	border-bottom: 0.1rem solid #EBECF0;
	 	margin-top: 8rem;
	 }
	 .zhuce
	 {
	 	color: #1EB9F2;
	 	display: inline-block;
	 	margin-top: 3rem;
	 	padding-left: 2.5rem;
	 	font-size: 1.5rem;
	 	text-decoration: none;
	 }
	.alertbox
	{
		width: 80%;
		display: block;
		font-size: 1.5rem;
		height: 4rem;
		line-height: 4rem;
		text-align: center;
		color: white;
		background-color: #D9534F;
		position: absolute;
		bottom: 1rem;
		left: 10%;
		right: 10%;
		border-radius: 0.5rem;
	}

	/*home*/
		.row
		{
			margin-top: 2rem;
			margin-bottom: 5rem;
		}
		.fontsize
		{
			font-size: 1.5rem;
		}
		.nav
		{
			line-height: 5rem;
		}
		.nav-right
		{
			position: absolute;
			right: 4rem;
		}
	/*侧边栏*/
		#maskl
		{
			background-color: #000;
			width: 100%;
			min-height: 100%;
			z-index: 90;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		#Jiahao {
			position: absolute;
			left: 26rem;
			top: 0.5rem;
			width: 30px;
			z-index: 101;
		}
		#sidebar
		{
			width: 22rem;
			min-height: 100%;
			background-color: white;
			position: absolute;
			left: -22rem;
			top:0;
			z-index: 100;
		}
		.col-xs-4
		{
			cursor: pointer;
		}
		#touxiang {
			width: 100%;
			height: 15rem;
		}
		#touxiang img {
			margin: 5rem 1rem 5rem 3rem;
		}
		#touxiang span {
			font-size: 16px;
			font-weight: bold;
			margin: 7rem 1rem 2rem 1rem;
			display: inline-block;
		}
		#liebiao ul li a {
			font-family: "微软雅黑";
			text-decoration: none;
			list-style: none;
			line-height: 50px;
			font-size: 14px;
			font-weight: bold;
			margin-left: 35px;
			color: black;
			letter-spacing: 20px;
		}
		#tianqi {
			width: 100%;
			height: 150px;
			padding: 15px 30px;
			position: absolute;
			bottom: 0;
		}
		.weather {
			display: inline-block;
			font-size: 18px;
			height: 50px;
			line-height: 50px;
		}
		.wendu {
			display: inline-block;
			font-size: 26px;
			color: #1EB9F2;
			margin-left: 10px;
			height: 50px;
			line-height: 50px;
		}
		.shijianpoint{
			width: 100%;
			height: 35px;
			line-height: 35px;
		}
		.shijian {
			font-size: 14px;
			width: 65%;
			display: inline-block;
			text-align: left;
		}
		.point {
			font-size: 16px;
			width: 35%;
			text-align: right;
			display: inline-block;
		}
	/*进度条*/
		.loading
		{
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;p
			left: 0;
			z-index:100;
			background-color: #fff;
		}
		.loading .pic
		{
			width: 64px;
			height: 64px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: url(25.gif);
		}
		/* 留言板 */
		#bor {
			-webkit-box-shadow: 0 0 4px #ccc;
			        box-shadow: 0 0 4px #ccc;
			padding: 16px;
		}
		#MessageForm {
			padding: 5px 15px;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
		}
		.center-block{
			width: 9rem;
			height: 10rem;
			margin: 3rem auto;
		}
		.center-block img{
			width: 9rem;
			height: 9rem;
			border-radius: 9rem;
		}
		/*  css3 进度条
		.loading .pic i
		{
			display: block;
			float: left;
			width: 0.6rem;
			height: 5rem;
			background-color: #1EB9F2;
			margin:0 0.2rem;
			transform: scaleY(0.4);
			animation: load 1.2s infinnite;
		}
		.loading .pic i:nth-child(2)
		{
			animation-delay: 0.1s;
		}
		.loading .pic i:nth-child(3)
		{
			animation-delay: 0.2s;
		}
		.loading .pic i:nth-child(4)
		{
			animation-delay: 0.3s;
		}
		.loading .pic i:nth-child(5)
		{
			animation-delay: 0.4s;
		}

		@keyframes load {
			0%,40%,100%{
				transform: scaleY(0.4);
			}
			20%{
				transform: scaleY(1);
			}
		}*/
		.sidebar-move-right {
			-webkit-animation: smr 0.8s 1 forwards;
			        animation: smr 0.8s 1 forwards;
		}
		@-webkit-keyframes smr {
			from{}
			to{
				-webkit-transform: translate3d(22rem,0,0);
				        transform: translate3d(22rem,0,0);
			}
		}
		@keyframes smr {
			from{}
			to{
				-webkit-transform: translate3d(22rem,0,0);
				        transform: translate3d(22rem,0,0);
			}
		}
		.closebar-move-right {
			-webkit-animation: cmr 0.8s 1 forwards;
			        animation: cmr 0.8s 1 forwards;
			color: #1EB9F2;
		}
		@-webkit-keyframes cmr {
			from{}
			to{
				-webkit-transform: translate3d(0,0,0) rotate(405deg) scale(1.3,1.3);
				        transform: translate3d(0,0,0) rotate(405deg) scale(1.3,1.3);
			}
		}
		@keyframes cmr {
			from{}
			to{
				-webkit-transform: translate3d(0,0,0) rotate(405deg) scale(1.3,1.3);
				        transform: translate3d(0,0,0) rotate(405deg) scale(1.3,1.3);
			}
		}
		.sidebar-move-left {
			-webkit-animation: sml 0.8s 1 forwards;
			        animation: sml 0.8s 1 forwards;
		}
		@-webkit-keyframes sml {
			form{}
			to{
				-webkit-transform: translate3d(-22rem,0,0);
				        transform: translate3d(-22rem,0,0);
			}
		}
		@keyframes sml {
			form{}
			to{
				-webkit-transform: translate3d(-22rem,0,0);
				        transform: translate3d(-22rem,0,0);
			}
		}
		.closebar-move-left {
			-webkit-animation: cml 0.8s 1 forwards;
			        animation: cml 0.8s 1 forwards;
			        color: #000;
		}
		@-webkit-keyframes cml {
			from{
				-webkit-transform: translate3d(0,0,0) scale(1.3,1.3);
				        transform: translate3d(0,0,0) scale(1.3,1.3);
			}
			to{
				-webkit-transform: translate3d(0,0,0) rotate(-90deg) scale(1,1);
				        transform: translate3d(0,0,0) rotate(-90deg) scale(1,1);
			}
		}
		@keyframes cml {
			from{
				-webkit-transform: translate3d(0,0,0) scale(1.3,1.3);
				        transform: translate3d(0,0,0) scale(1.3,1.3);
			}
			to{
				-webkit-transform: translate3d(0,0,0) rotate(-90deg) scale(1,1);
				        transform: translate3d(0,0,0) rotate(-90deg) scale(1,1);
			}
		}

		.mask-right
		{
			-webkit-animation: mr 0.6s 1 forwards;
			        animation: mr 0.6s 1 forwards;
		}
		@-webkit-keyframes mr {
			0%{
				opacity: 0;
			}
			50%{
				opacity: 0.4;
			}
			100%{
				opacity: 0.7;
			}
		}
		@keyframes mr {
			0%{
				opacity: 0;
			}
			50%{
				opacity: 0.4;
			}
			100%{
				opacity: 0.7;
			}
		}
		.mask-left
		{
			-webkit-animation: ml 0.6s 1 forwards;
			        animation: ml 0.6s 1 forwards;
		}
		@-webkit-keyframes ml {
			0%{
				opacity: 0.7;
			}
			50%{
				opacity: 0.4;
			}
			100%{
				opacity: 0;
			}
		}
		@keyframes ml {
			0%{
				opacity: 0.7;
			}
			50%{
				opacity: 0.4;
			}
			100%{
				opacity: 0;
			}
		}
		.weekday{
			width: 94%;
			height: 4rem;
			margin: 0 auto;
			font-size: 2.8rem;
			position: relative;
		}
		.weekday a
		{
			display: inline-block;
			font-size: 2rem;
			color: black;
			text-decoration: none;
		}
		.weekday a:last-child
		{
			float: right;
			right: 0;
		}
		.weekday a:first-child
		{
			float: left;
			left: 0;
		}
		.weekday > div{
			display: inline-block;
			width: 50%;
			height: 4rem;
			line-height: 4rem;
			text-align: center;
			position: absolute;
			left: 50%;
			-webkit-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
		.weekday b{
			font-size: 2rem;
			padding-right: 1rem
		}
		.weekday i
		{
			font-size: 1.3rem;
		}
		.courseTable{
			width: 94%;
			margin: 0 auto;
		}
		.courseTable th,td{
			font-size: 1.5rem;
			text-align:center;
		}
		.courseTable thead tr{
			font-weight: bold;
		}
		.courseTable  tr:not(.line){
			height: 7.5rem;
		}



		-webkit-backface-visibility: hidden;
backface-visibility: hidden;
  
-webkit-perspective: 1000;
-ms-perspective: 1000;
perspective: 1000;