script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/bootstrap-select/dist/js/bootstrap-select.min.js")
script(src="/js/main.js")
script(src="/js/sidebar.js")
script(src="/js/chat.js")
